<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<div class="container">
<% include ../partials/header %>

<div class="col-sm-12"> 
  <div class="row">

  <% jobs.forEach(function(job) { %>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading"><%= job.name %></div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <div class="col-sm-5">
                        <div class="row">
                            Last Run
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="row text-bold">
                            <%= job.lastRun %>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-5">
                        <div class="row">
                            Run Status
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="row text-bold">
                            <%= job.runStatus %>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-5">
                        <div class="row">
                            Status Details
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="row text-bold">
                            <%= job.statusDetails %>
                        </div>
                    </div>
                </div>
            </div>
        <div class="panel-footer text-center">
            <div class="col-sm-12">
                <div class="row">
                    <button class="col-sm-6 btn btn-primary">File Process</button>
                    <div class="col-sm-1">&nbsp;</div>
                    <button class="col-sm-4 btn ">SP Run</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
      </div>
    </div>
  <% }); %>

  </div>
</div>
<div clear="clearfix">&nbsp;</div><br />

<% include ../partials/footer %>
</div>
</body>
</html>